header {
    height: 400px;
    border-bottom: solid gray 1px;
    background-image: url('/images/header2.jpg');
    background-size: cover;
    background-color: rgb(168, 209, 250);
    margin-bottom: 10px;
}